
/* ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --header-background: #3b5d50;
  --gap: 1rem;
  --font: Arial, Helvetica, sans-serif;
  --font-size: 12rem;
}
/* body */
body {
  background-color: #eff2f1;
  font-family: var(--font);
}
/* main class */
.main {
  margin-left: 12%;
  margin-right: 12%;
}
/* utility classes */
.font-sm {
  font-size: 1rem;
}
.font-m {
  font-size: 2rem;
}
.font-l {
  font-size: 2.5rem;
}
.font-xl {
  font-size: 3.5rem;
}
.font-btn {
  font-size: 0.75rem;
}
.input-box {
  margin-top: 10px;
  width: 300px;
  padding: 15px;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
}
.btn {
  border: none;
  border-radius: 25px;
  display: inline-block;
  padding: 12px 22px;
  flex: 1;
  cursor: pointer;
}
.btn-black {
  background-color: black;
  opacity: 0.8;
  color: white;
}
.btn-yellow {
  background-color: #f9bf29;
  color: black;
}
.btn-transparent {
  background-color: var(--header-background);
  border: 1px solid gray;
  color: azure;
}
/* navigation bar */
.navbar {
  background-color: var(--header-background);
  min-width: 100%;
  min-height: 8vh;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.navbar > * {
  margin-top: 10px;
}
.logo img {
}
.menu-icon {
  display: inline-block;
  height: 35px;
  width: 35px;
}
.menu-icon img {
  height: 35px;
  width: 35px;
  flex-shrink: 1;
}
.menu {
  display: none;
}
.menu li {
  display: none;
}
.menu li a {
  display: none;
}
.profile-icons {
  display: none;
}
.profile-icons > * {
}
/* header */
header {
  background-color: var(--header-background);
  min-height: 70vh;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);
  z-index: 0;
}
.header-left {
  display: flex;
}
.header-text {
  color: white;
  font-family: var(--font);
  min-height: 20vh;
  min-width: 20%;
  flex: 1 100px;
  margin-top: 30px;
  /* margin-bottom: 11%; */
}
.couch-1 {
  flex: 1;
  min-width: 100%;
}
/* Home section */
.home {
  --gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10%;
  gap: var(--gap);
}
.home-item1 {
  margin-top: 60px;
  min-width: 20%;
  flex: 1;
}
.home-item1 h1,
.home-item1 p {
  opacity: 0.8;
  margin-bottom: 20px;
}
.home-imgs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.image-container {
  position: relative;
  max-width: 80%;
  min-height: 50%;
  margin-bottom: 30px;
}

.home-img1 {
  min-width: 100%;
  height: auto;
}

.hover-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 150%;
  z-index: -1;
}

.image-container:hover .hover-img {
  display: block;
}

.home-imgs p {
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

.home-img2 {
  margin-bottom: 50px;
}

.home-img3 {
}
/* home container 3*/
.home-container-3 {
  --gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  margin-top: 15%;
  margin-bottom: 50px;
}
.home-container-3-img {
  max-width: 120%;
  margin-left: -50px;
}
.home-container-3-text > * {
  margin-bottom: 20px;
  opacity: 0.8;
}
.home-container-3-text ul {
  list-style-type: circle;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.home-container-3-text ul li {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
}
/* summary */
.summary {
  --gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
}
.summary img {
  cursor: pointer;
  max-width: 100%;
}
/* testimonials */
.testimonials {
}
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-height: 50%;
}
.testimonial-container p,
h1 {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
  text-align: center;
  flex: 1;
}
.testimonial-container img {
  cursor: pointer;
}
.testimonial-buttons {
  max-width: 40px;
}
.testimonial-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: var(--gap);
}
.person-img {
  border-radius: 50%;
}
/* blog */
.blog-section {
  display: flex;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.blog-header a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.blog-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.blog-posts img {
  max-width: 100%;
}

/* footer */
footer {
  background-color: #ffffff;
  min-height: 100vh;
  padding-top: 1px;
}
.newsletter-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
}
.newsletter-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.send-btn {
  margin-top: 20px;
  max-width: 50%;
  max-height: 50%;
}
.sofa-sm {
  max-width: 100%;
}
.footer-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--gap);
  border: 1px solid black;
}
.footer-text-container p {
  opacity: 0.8;
}
.footer-text-container div {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.footer-text-container div a {
  opacity: 0.8;
  flex: 1;
}
.social-media-icons {
  margin-left: 15%;
}
.line {
  border: 0.1px solid #c4c4c4;
  width: 90%;
  opacity: 0.5;
  margin-left: 10px;
}
.copyright {
  color: #807e7e; /* Example text color */
  text-align: center;
  margin-left: 20px;
  padding: 5px;
}
/* Mobile First */
@media only screen and (min-width: 768px) {
 /* ------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --header-background: #3b5d50;
  --gap: 1rem;
  --font: Arial, Helvetica, sans-serif;
  --font-size: 12rem;
}
/* body */
body {
  background-color: #eff2f1;
  font-family: var(--font);
}
/* main class */
.main {
  margin-left: 12%;
  margin-right: 12%;
}
/* utility classes */
.font-sm {
  font-size: 1rem;
}
.font-sm-l{
  font-size: 1.5rem;
}
.font-m {
  font-size: 2rem;
}
.font-l {
  font-size: 2.5rem;
}
.font-xl {
  font-size: 3.5rem;
}
.font-btn {
  font-size: 0.75rem;
}
.input-box {
  margin-top: 10px;
  width: 300px;
  padding: 15px;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
}
.btn {
  border: none;
  border-radius: 25px;
  display: inline-block;
  padding: 12px 22px;
  width: auto;
  cursor: pointer;
  max-width: 100px;
}
.btn-black {
  background-color: black;
  opacity: 0.8;
  color: white;
}
.btn-yellow {
  background-color: #f9bf29;
  color: black;
}
.btn-transparent {
  background-color: var(--header-background);
  border: 1px solid gray;
  color: azure;
}
/* Navigation Bar */
.navbar {
  background-color: var(--header-background);
  display: flex;
  max-width: 100%;
  min-height: 8vh;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.menu-icon {
  display: none;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 3rem;
}
.logo img {
  margin-top: 1px;
}
.menu li {
  display: inline-block;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  opacity: 0.7;
  transition: text-decoration 0.3s ease;
}
.menu li a:hover {
  text-decoration: underline #f9bf29;
  text-decoration-thickness: 2.8px;
  opacity: 1;
}
.profile-icons {
  display: flex;
  justify-self: end;
  gap: 1rem;
  margin-left: 50%;
}
.profile-icons > * {
  flex: 1;
}
/* Header */
header {
  background-color: var(--header-background);
  max-height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: var(--gap);
  z-index: 0;
}
.header-left {
  flex-wrap: wrap;
  flex: 1;
  max-width: 100%;
  justify-content: flex-start;
}
.header-text {
  color: white;
  font-family: var(--font);
  max-width: 40%;
  min-width: 10%;
}
.couch-1 {
  order: 1;
  margin-right:80px;
  height: 650px;
  flex: 1;
  position: absolute;
  top:50px;
  right:0;
  left:250px;
}
/* home section */
.home {
  --gap: 5rem;
  align-items: center;
  margin-top: 10%;
  gap: var(--gap);
  margin-bottom: 10%;
  min-width: 100%;
}
.home-item1 {
  max-width: 20%;
  flex: 1;
  min-width: none;
  margin-bottom: 50px;
}
.home-item1 h1,
.home-item1 p {
 text-align: left;
}
.home-imgs {
  --gap:5rem;
  flex-direction: row;
  gap:var(--gap);
  max-width: 100%;
  margin: 0;
}
.image-container {
  position: relative;
  max-width: 100%;
  min-height: 50%;
  margin-bottom: 30px;
}

.hover-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 120%;
  min-height: 150%;
  z-index: -1;
}

.image-container:hover .hover-img {
  display: block;
}

.home-imgs p {
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

.home-img1 {
  margin-bottom: 30px;
}
.home-img2 {

}

.home-img3 {
}
/* home container 3 */
.home-container-3 {
  justify-content: flex-start;
  gap: var(--gap);
  margin-top: 0;
  margin-bottom: 0;
}
.home-container-3-img {
  margin-left: -100px;
  max-width: 100%;
}
.home-container-3-text{
  --gap:1rem;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: var(--gap);
}
.home-container-3-text h1{
  text-align: left;
}
.home-container-3-text > * {
  margin-bottom: 0;
}

.home-container-3-text ul {
 
}
.home-container-3-text ul li {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
}
/* summary */
.summary {
  flex-direction: row;
  margin-top: 10%;
  gap: var(--gap);
}
.summary img {
  cursor: pointer;
  max-width: 100%;
}
 /* testimonials */
 .testimonials {
  text-align: center;
  margin-top: 10%;
}
.testimonial-container {
  --gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: var(--gap);
}
.testimonial-container p {
  opacity: 0.8;
  text-align: justify;
  flex: 1;
  max-width: 100%;
  margin-top: 2%;
}
.testimonial-container img {
  cursor: pointer;
}
.testimonial-buttons {
  max-width: 50px;
}
.testimonial-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: var(--gap);
}
.person-img {
  border-radius: 50%;
}
/* blog */
.blog-section {
  display: flex;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.blog-header a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.blog-posts {
  --gap:3.5rem;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  gap: var(--gap)
}
.blog-posts img {
  
}
/*  */
footer {
  padding-top: 10px;
  min-height: 150vh;
  margin-top: 50px;
}
.newsletter-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap:var(--gap);
  margin-top: 120px;
}
.newsletter-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  gap: 1rem;
}
.send-btn {
  margin-right: 50px;
}
.sofa-sm {
  margin-top: 0;
  margin-bottom: 120px;
  max-width: 50%;
  max-height: 50%;
  margin-right: 0;
}
/* footer text */
.footer-text-container {
  flex-direction: row;
  max-height: 20vh;
  gap: var(--gap);
  border: 1px solid black;
}
.footer-text-container p {
  max-width: 20%;
  opacity: 0.8;
  flex: 1;
  margin-right: 50px;
}
.footer-text-container div {
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--gap);
  flex: 1;
  justify-content: space-between;
}
.footer-text-container div a {
  opacity: 0.8;
  flex: 0 0 calc(30% - 30px); 
}
.social-media-icons {

}
.line {
  border: 0.1px solid #c4c4c4;
  width: 90%;
  opacity: 0.5;
  margin-left: 10px;
}
.copyright {

  text-align: left;
  margin-left: 0;
  padding: 5px;
}
}
